body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
    margin: 0;
    padding: 0;
}

#app {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #007bff;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    margin-right: 0.5em;
}

input[type="text"], select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.todo-list {
    list-style: none;
    padding: 0;
}

.todo-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e9ecef;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.todo-list li:hover {
    transform: translateY(-3px);
}

.todo-list li:nth-child(odd) {
    background: #f1f3f5;
}

.container {
    display: flex;
    gap: 10px;
    flex-grow: 1;
    flex-direction: column;
    margin-inline: 0.5em;
}

.selectButton {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ced4da;
    width: 5.2em;
    align-self: end;
    background-color: #ffffff;
    color: #007bff;
}

.selectHeaderButton {
    width: 8em;
}

.editable {
    flex-grow: 1;
    padding: 5px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.delete {
    background: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

.delete:hover {
    background: #c82333;
}
